@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0)!important;
}

::-webkit-scrollbar-thumb  {
	background: red !important;
}

body {
	font-size: 62.5%;
/* 	 font-weight: 100; */
    font-family: Roboto Condensed !important;
}
.bg-main {
	background: url('../images/bg-main.jpg') no-repeat;
 	background-size: 100% 100%;
}
.bg-1 {
	background: url('../images/bg-1.jpg') no-repeat;
 	background-size: 100% 100%;
}
.bg-2 {
	background: url('../images/bg-2.jpg') no-repeat;
 	background-size: 100% 100%;
}

.bg-3 {
	background: url('../images/bg-3.jpg') no-repeat;
 	background-size: 100% 100%;
}
.bg-4 {
	background: url('../images/bg-4.jpg') no-repeat;
 	background-size: 100% 100%;
}
.bg-5 {
	background: url('../images/bg-5.jpg') no-repeat;
 	background-size: 100% 100%;
}
.buttonFlat {
	background: transparent !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow:    none !important;
	box-shadow:         none !important; 
	margin: auto !important;
}
.buttonFlat:ACTIVE {
	color: white !important;
}

.button-primary {
	color: #6D1B1a !important;
	background: #FFD200 !important;
	border-radius: 20px !important; 
}

.button-primary:ACTIVE {
	background: #ff9000 !important;
}

.input-primary {
	margin-bottom: 5px;
}

.input-primary input, .input-primary textarea {
	padding: 5px !important	;
	width: 95% !important;
}

.input-leftMenu {
	background: #282828;
}

.input-leftMenu  input {
	background: #282828;
	color: white;
}

.leftMenu-Item {
	font-size: 1.2em;
	border-top:1px solid #ff9300;
	padding-top: 5px;
}

.leftMenu-Item:ACTIVE {
	background: #ff9000 !important;
}

.loginSliding-input {
	background: #450102;
}

.loginSliding-input input,.loginSliding-input input[placeholder] {
	background: #450102;
	color: #FFD200;
	padding: 10px !important;
}

.hoiDap-input textarea, .hoiDap-input textarea[placeholder] {
	background: white;
	color: #440101;
	padding: 10px !important;
}

.scrollConGiap::-webkit-scrollbar {
    width: 12px;
}

.scrollConGiap::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: red !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 
}

.title-primary {
	color: #FFD200;
	text-align: center;
	font-weight: bold;
	font-size: 2.2em;
}

.titleDetail-primary {
	color: white;
	text-align: center;
	font-size: 1.6em;
}

.titleSmall-primary {
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.content-primary {
	color:#D0A76E;
	font-size: 1.5em;
	text-align: justify;
}

.datePicker-primary {
	
}

.listBox-primary {
	background-color: #ffd200 !important;
	border-radius: 0px;
	padding: 7px !important;
	text-align: center;
	color: #440101 !important;
	position: relative;
}

.titleListBox-primary {
	color: #FFD200;
	font-size: 1.3em;
}


.listbox-withText {
	position: relative;	
}

.listbox-withText:AFTER {
	content: '+';
	position: absolute;
	font-size: 2.6em;
	color: #440101;
	right: 10px;
	top: 0px;
}

.congiapImage {
	opacity: 0.15;
}

.congiapImage_active {
	opacity: 1 !important;
}

.ks-checkBox {
	color: white;
}

.questionItem_panel {
	color: white;
	background: rgba(255,255,255,0.1);
	font-size: 1.3em;
}

.questionView_TabBar_active {
	background: #440101 !important;
	color: #ffd200 !important;
}

.buttonDialogOption {
	color: #6D1B1a !important;
	background: #FFD200 !important;
	border-radius: 20px !important;  
}

.buttonDialogOption:ACTIVE {
	background: #ff9000 !important;
}

.optionDialog {
	background: #440101 !important;
}

		.title-medium {
			font-size: 1.2em;
			color: white;
		}
		
		.title-medium-hint {
			color: #ab7561;	
			font-size: 1.4em;
			font-weight: bold;
		}
		
		
		.title-style2 {
			color: #f17c00;
			font-size: 1.5em;
			font-weight: bold;

		}

.loading {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  top: 8px;
  left: 8px;
  width: 3.5em;
  height: 3.5em;
  background-color: transparent;
  border-radius: 100%;
  animation: loading-spin 1s infinite linear;
   -webkit-animation:loading-spin 1s infinite linear;
}
.loading:after {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-radius: 100%;
  box-shadow: 0.35em 0.35em 0.35em #c22;
}	
		

.imageLoading{ 
  animation: rotate 0.7s linear infinite;
  -webkit-animation: rotate 0.7s linear infinite;
}

@keyframes rotate{  
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes rotate{ /* Safari and Chrome */
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


@keyframes loading-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes loading-spin {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

.KSSlider-pointer {
	top: 0px !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba(0,177,131,0.7) !important;
	border: none !important;
	border-radius: 0px !important; 
	left: 0px !important;
	position: absolute;
}

.KSSlider-bar {
	background: rgba(255,0,0,0.8) !important;
	overflow: hidden;
	height: 5px !important;
	border: none !important;
	border-radius: 0px !important; 
	position: relative !important;
}
.song-item-panel {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.2em;
    padding: 5px 5px;
}
.search-box-style {
	width: 90%;
    font-size: 1.5em;
    padding: 3px 6px;
    border: 2px solid white;
    border-radius: 3px;
    background: transparent;
    color: white;
}
.search-box-style::placeholder {
  color: white;
}
.btn-search-style {
    color: white;
    border: 2px solid white;
    font-size: 1.5em;
    border-radius: 50px;
    padding: 4px 10px;
    text-align: center;
}
.song-item-panel-v2 {
    margin: 2px auto;
    display: block;
    width: calc(100% - 20px);
    background: rgba(255, 168, 1, 0.33);
}
.title-home {
	color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
}
.button-icon-main {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 5px;
}
.button-icon-main .icon_ {
    font-size: 2em;
    display: inline-block;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
.button-icon-main .name_ {
    font-size: 1.5em;
    display: inline-block;
    width: calc(100% - 50px);
    vertical-align: middle;
    text-align: left;
}
.dot-dot-dot-1 {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}
.playSongPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(248, 165, 20, 0.5);
    width: 100%;
    height: 50px;
    z-index: 999;
    color: white;
}
.icon-image-default {
    text-align: center;
    width: 43px;
    height: 43px;
    margin: 1px auto;
/*     background: rgba(0, 0, 0, 0.3); */
}

/* dot dot dot */
.dot-1, .dot-2, .dot-3, .dot-4, .dot-5, .dot-6 {
overflow: hidden !important;
text-overflow: ellipsis !important;
display: -webkit-box !important;
-webkit-box-orient: vertical !important;
}
.dot-1 { -webkit-line-clamp: 1 !important }
.dot-2 { -webkit-line-clamp: 2 !important }
.dot-3 { -webkit-line-clamp: 3 !important }
.dot-4 { -webkit-line-clamp: 4 !important }
.dot-5 { -webkit-line-clamp: 5 !important }
.dot-6 { -webkit-line-clamp: 6 !important }
/* dot dot dot end */


